body {
  background: #fff;
  font-family: "Merriweather Sans", sans-serif;
  color: #385170;
}

.search-form {
  margin-bottom: 20px;
}

h1 {
  color: #9fd3c7;
  font-family: "Noto Serif Display", serif;
}

h2 {
  font-size: 54px;
}

.metrics {
  list-style: none;
  position: relative;
  left: 200px;
  top: -75px;
}

.icon {
  font-size: x-large;
  color: #385170;
}

.tag {
  text-align: center;
  padding: 5px;
}

.wrapper {
  max-width: 650px;
  border: 1px solid #385170;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  margin: 20px auto;
  background-color: #ececec;
}

.weather-temperature .active {
  color: #385170;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.unit {
  font-size: 14px;
  position: relative;
  top: -25px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperatures {
  font-size: 13px;
}

.forecast-temp-min {
  opacity: 0.5;
}
