body {
  background: #ececec;
  font-family: "Merriweather Sans", sans-serif;
  color: #142d4c;
}

form {
  margin-top: 20px;
}

.container {
  width: 600px;
  border-radius: 1px;
}

.currently-btn {
  border-radius: 4px;
  background-color: #9fd3c7;
  color: #fff;
}

h1 {
  color: #9fd3c7;
  font-family: "Noto Serif Display", serif;
  padding-top: 10px;
}

h2 {
  font-size: 54px;
}

.unit {
  font-size: 14px;
  position: relative;
  top: -25px;
}

.metrics {
  list-style: none;
  position: relative;
  left: 200px;
  top: -75px;
}

.row {
  position: relative;
  bottom: 70px;
}

.forecast {
  text-align: center;
}

.icon {
  font-size: x-large;
  color: #385170;
}
